
html{
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #23252C;
  display: flex;
  justify-content: center;
  color: #DCDCDC;
  font-family: "Inter", sans-serif;
  max-width: 500px;
  box-shadow: -5px 5px 10px rgb(27, 26, 26);
  border-radius: 10px;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #1A1B21;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.photo {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 10px 20px;
  transform: scale(2);
  transform-origin: center;
  display: block;
}

nav {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1{
  color: white;
  margin: 0 0 0.2em;
}

nav p {
  margin: 0 0 1em;
  padding: 0;
  font-size: 1rem;
  font-weight: 300;
  color: #F3BF99;
}

nav small {
  margin: 0 0 1rem;
  padding: 0;
  color: #F5F5F5;
}

.links {
  margin-top: 2rem;
  display: flex;
  gap: 2em;
  justify-content: space-between;
}

.links a {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  text-align: center;
  text-decoration: none;
  width: 10em;
  height: 3em;
}

#mail-link{
  color: #374151;
  background-color: white;
}

#din-link{
  color: white;
  background-color: #5093E2;
}

main {
  background-color: #1A1B21;
  padding: 2em 1.5em;
}

main h2 {
  margin: 0 0 0.4em;
}

main p {
  margin: 0 0 2em;
}

footer {
  padding: 2em 0;
  background-color: #161619;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (min-width: 500px) {
  body {
    margin: 2em 0;
    max-width: 400px;
  }
  .photo {
    max-width: 400px;
  }
}